<!DOCTYPE >
 <lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>feesstructure</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
  <style>
     /* Styles for the top frame */
  .frame-container {
    border: 4px solid #8B5A2B; /* Thick brown border */
    background-color: rgba(139, 90, 43, 0.1); /* Light brown background color with opacity */
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 1200px;
  }

  /* Styles for the content */
  .payment-info p {
    margin-bottom: 10px;
  }

  .payment-info strong {
    font-weight: bold;
  }

  .payment-info ol {
    margin-left: 20px;
  }
  /* Styles for the requirements */
  .requirements-container {
    background-color: rgba(139, 90, 43, 0.7); /* Brown background color with opacity */
    padding: 20px;
    border-radius: 10px;
    color: #fff; /* Text color */
    max-width: 1200px;
    margin: 0 auto;
  }

  /* Styles for the titles */
  .requirement-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  /* Styles for the content */
  .requirement-content {
    margin-bottom: 20px;}
    
     /* Table styles */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }

  th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  th {
    background-color: #f2f2f2;
  }

  tr:hover {
    background-color: #f5f5f5;
  }
  </style>

  
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <a href="/" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>
      <h1 class="logo me-auto"><a href="/">Mwencha</a></h1>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="about">About</a></li>
          <li><a href="courses">Courses</a></li>         
          <li><a class="active" href="feesstructure">Fees tructure</a></li>  
          <li><a href="contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <a href="register" class="get-started-btn">Register</a>

    </div>
  </header><!-- End Header -->

 

    <!-- ======= Pricing Section ======= -->
    <main id="main">
      <!-- ======= Breadcrumbs ======= -->
      <div class="breadcrumbs" data-aos="fade-in">
        <div class="container">
          <h2>FEES STRUCTURE</h2>
        </div>
      </div><!-- End Breadcrumbs -->
  
      <!-- ======= Pricing Section ======= -->
      <section id="pricing" class="pricing">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="table-responsive">
                <table>
                  <thead>
                    <tr>
                      <th>SESSION</th>
                      <th>TERM I</th>
                      <th>TERM II</th>
                      <th>TERM III</th>
                      <th>TOTAL</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>DAY SCHOLARS</td>
                      <td>20,000</td>
                      <td>20,000</td>
                      <td>15,000</td>
                      <td>55,000</td>
                    </tr>
                    <tr>
                      <td>BOARDERS</td>
                      <td>30,000</td>
                      <td>20,000</td>
                      <td>20,000</td>
                      <td>70,000</td>
                    </tr>
                  </tbody>
                </table>

              </div>
            </div>
          </div>

        </div>
        <div class="frame-container">
          <div class="row">
            <div class="col-lg-12">
              <div class="payment-info">
                <p><strong>Mode of Payment:</strong><br>A student shall be registered only on payment of the full term (i.e. 27,000). The payment must be a banker's cheque payable to Mwencha Teachers Training College or deposit in KCB Kitale Branch A/C 1105094189 and bring the original deposit slip.</p>
                <strong>Other Charges</strong>
                <p>
                  <ol>
                    <li>Caution Money: 2,000</li>
                    <li>Student Council Fee: 2,000</li>
                    <li>Library Fee: 3,000</li>
                    <li>Computer Fee: 4,000</li>
                  </ol>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Pricing Section -->
    <!-- ======= Requirements Section ======= -->
    <div class="requirements-container">
      <div class="requirement">
        <div class="requirement-title">Admission Requirements</div>
        <div class="requirement-content">
          <p>Original documents required for registration, including Letter of Admission, K.C.S.E Certificate/Results slip, and School leaving certificate from K.C.S.E school.</p>
          <p>Non-refundable registration fee of Ksh. 2,000.</p>
        </div>
      </div>
    
      <div class="requirement">
        <div class="requirement-title">Additional Documents</div>
        <div class="requirement-content">
          <p>Two certified copies of various documents, including K.C.S.E Certificate/result slip, K.C.S.E School Leaving Certificate, Identity cards, and Birth certificate.</p>
        </div>
      </div>
     
      <div class="requirement">
        <div class="requirement-title">School Fees and Payments</div>
        <div class="requirement-content">
          <p>Day scholars and boarders have different fee structures for each term.</p>
          <p>Mode of payment: Full term payment of Ksh 27,000, via banker's cheque payable to Mwencha Teachers Training College or deposit in KCB Kitale Branch A/C 1105094189, with original deposit slip required.</p>
        </div>
      </div>
      <div class="requirement">
        <div class="requirement-title">Other Charges</div>
        <div class="requirement-content">
          <p>Caution Money, Student Council Fee, Library Fee, and Computer Fee.</p>
        </div>
      </div>
      <div class="requirement">
        <div class="requirement-title">Non-Functional Requirements</div>
        <div class="requirement-content">
          <p>Attendance to scheduled activities is compulsory, including Lectures, Assemblies, Field trips, Sports, and games with Continuous assessment and monitoring of academic performance.</p>
          <p>Freedom to practice one's faith while respecting the rights of others.</p>
          <p>Students are expected to be members of at least one and a maximum of three clubs/societies.</p>
        </div>
      </div>
            
    </div>
    <!-- End Requirements Section -->
  
    </main><!-- End #main -->
  
  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Mwencha</h3>
            <p>
              P.O. BOX 1548 <br>
              Tranzoia County<br>
              Kitale<br><br>
              <strong>Contact:</strong>0728663531/0721716422<br>
              <strong>Email:</strong> mwenchattc2023@gmail.com<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="about">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="Courses">Courses offered</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="Register">Apply Now</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="Contact Us">Contact Us</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      
       
      
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Main JS File -->
  <script src="assets/js/main.js"></script>

</body>


